<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=lipsum_wanted%></title>
  </head>
  <body>
<p>
  <% if paragraph > 1%>
  <%= output * paragraph %>
  <% else %>
  <%=output%>
  <%end%>
</p>

  </body>
</html>
